<html>
    <head>
        <title>ABOUT</title>
    </head>
    <body>
        <H1>{{ AboutPage }}</H1>
        <p>
            This is a word counter webpage that utilises Django principles,
            and integrates HTML, Python and some JavaScript programming.
            <br/>
            <br/>
            It is an example webpage (to practise programming) that takes an string
            input provided by the user e.g. song lyrics, a speech, a sentence, etc.
            and returns the total word count. It also returns the words and the
            number of times they appear in the input, starting with the highest
            and descending order.
            <br/>
            <br/>
            I hope you enjoy your time on this page, I know it's not much
            but I am proud of my work so far hehe
            <br/>
            <br/>
            Sincerely,
            <br/>
            Edward :)
            <br/>
            <br/>
            <br/>
            <a href="{% url 'home' %}">Back Home</a>
        </p>
        <!--Copyright 2019-->
    </body>
</html>